<div class="container-fluid">
    <div class="row ">
      <div class="card  mx-auto col-sm-8" style="margin-top: 5em;margin-bottom: 5em;" >
          <div class="card-body">
            <div class="col-md-2 mx-auto im ma">
              <img src="../../../assets/images/bil.png">
            </div>
              <h2 class="text-center display-6 card-title">Manage Bills</h2>
             
            <h6 class="text-center card-subtitle mb-2 text-muted">Lets Clear Up</h6>

            <p class=" text-center">
              <a class=" btn btn-warning" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Add 
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <div class="mb-3 row">
                  <h4  class="display-6 col-sm-4 col-form-label">Icon : </h4>
                  <div class="col-sm-2">
                    <input [(ngModel)]="icon" type="text" class="form-control">
                  </div>
                </div>
                <div class="mb-3 row">
                  <h4  class="display-6 col-sm-4 col-form-label">Name : </h4>
                  <div class="col-sm-2">
                    <input [(ngModel)]="name" type="text" class="form-control">
                  </div>
                </div>
              
                <div class="mb-3 row">
                  <h4  class="display-6 col-sm-4 col-form-label">Amount : </h4>
                  <div class="col-sm-2">
                    <input [(ngModel)]="amount" type="text" class="form-control">
                  </div>
                </div>
                <a class="btn btn-success" (click)="onAdd()">
                  <i class="maerial-icons">Insert</i>
                </a>
              </div>
            </div>
            <br>
            <table class="table table-hover table-borderless">
              <thead>
                <tr>
                 
                  <th scope="col">Transaction</th>
                  <th scope="col">Amount</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bil of bills">
                  <td class="navbar-brand">
                    <img [src]=bil.icon width="30" height="30" class="d-inline-block align-top" alt="">
                    {{bil.liabName}}
                  </td>
                
                <td>{{bil.amount}}</td> 
                <td>
                  <a class="btn btn-danger" (click)="onDelete(bil._id)">
                    <i class="maerial-icons">delete</i>
                  </a>
                </td>
                </tr>
                
              </tbody>
            </table>
            
             
          </div>
        </div>
    </div>
</div>
  
  